<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>

    <div id="app"> 
        <div class="arrayMail" v-if="email.length == 10">
            <h3>Email pronte</h3>
            <ul>
              <li v-for='element in email'>
                {{element}}
              </li>
            </ul>
        </div>
    </div>
    

    <script src="js/app.js"></script>
</body>
</html>